@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}

.photo_otchet{
    height:auto;
width: 1920px;
display: grid;
place-items: center;


}
.ph-title{
font-family: "Geologica";
font-size: 70px;
width: 100%;
 max-width: 107.5rem; 
font-weight: 200;
font-style: "ExtraLight";
letter-spacing: -0.05em;  
line-height: 100%;
}
.photos{
  margin-top: 50px;
  display: grid;
  width: 100%;
  max-width: 107.5rem; 
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  gap: 30px;
}
/* .img1{
  height:613px ;
  width: 408px;
}
.imgg{
  height:613px ;
  width: 407px;
} */
.img2{
grid-column: span 2;  
}

.but-show{
margin-top: 50px;
display: flex;
width: 100%;
height: 60px;
justify-content: center;
}
.but-show button{
    width: 554px;
    height: 60px;
    border: 1px solid rgba(rgba(0, 0, 0, 1));
    font-size: 20px;
    font-family: "Geologica";
    font-weight: 300;
    background-color: transparent;
}

/* .ph-title .part-1,
.ph-title .part-2,
.ph-title .part-3,
.ph-title .part-4 {
  display: inline;
} */

@media (min-width: 768px) and (max-width: 1024px) 
{
  body{
  display: flex;
padding: 20px 0 20px 0;
min-width: 1024px;
max-width: 1719px;
}



.photo_otchet{
height: 1200px;
width: 768px;
     padding:0 20px 0 20px ;
}
.ph-title{
font-size: 50px;
width: 728px;
height: 200px;
line-height: 100%;
font-weight: 200;
letter-spacing: -0.05em;
}

.but-show{
    margin-top: 40px;
    height: 45px;
}
.but-show button{
    height: 45px;
    width: 354px;
    font-size: 16px;
}
.imgg1{
  height: 251px;
  width: 167px;
}
.img2{
  height: 236px;
  width: 354px;
}
.photos{
  margin-top: 40px;
width: 728px;
gap: 20px;
}

 .ph-title .part-1,
  .ph-title .part-2,
  .ph-title .part-3,
  .ph-title .part-4,
  .ph-title .date {
    display: none; 
  }
/*   
  .ph-title:before {
    content: "Лекция Анны Семеновой по \A итогам выставки ARTDOM, \A салон Academy,";
    display: block;
  }
  
  .ph-title:after {
    content: "5 марта 2025 года";
    display: block;
  } */
}
@media (min-width:320px)and (max-width:767px){


    .photo_otchet{
        height: auto;
    width: 360px;
    max-width: 767px;
}
  /* .ph-title:before,
  .ph-title:after { 
    display: none; 
  } */
  .ph-title{
    font-size: 30px;
    width: 320px;
    height: 150px;
    margin-left: 0px;

  }
.photos{
  height: 1340px;
  display: grid;
   grid-template-columns:repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
  height: auto;
  background-color: aqua;
}
.imgg1{
  width: 150px;
  height: 226px;
}
.img2{
  width: 320px;
  height: 213px;
}
/*   
  .ph-title .part-1,
  .ph-title .part-2,
  .ph-title .part-3,
  .ph-title .part-4,
  .ph-title .date {
    display: block;
  } */
.but-show{
    margin-top: 20px;
    height: 45px;
    width: 100%;
}
.but-show button{
    height: 45px;
    width: 354px;
    font-size: 16px;
}

}
